  <super-navbar>
<super-navbar-title  class="demo-pricing demo-pricing-1" style="text-align:center;">
  <div style="text-align:center;"><b>Create Account</b></div>
</super-navbar-title>
  </super-navbar>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password">
  </label>
</div>
<p>
<ul class="list">
<p style="text-align:center;"><b>Area of Expertise</b></p>
  <li class="item item-toggle">
    <i class="icon super-pizza "></i>
     Food
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-tshirt "></i>
     Fashion
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-film-marker "></i>
     Movies
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-android-plane "></i>
     Travel
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-android-laptop "></i>
     Technology
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-music-note "></i>
     Music
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>    </p>

<div class="padding">
<button class="button button-block button-positive" onclick="supersonic.ui.initialView.dismiss()">
  Sign Up
</button>
</div>