  <super-navbar>
<super-navbar-title  class="demo-pricing demo-pricing-1" style="text-align:center;">
  <div style="text-align:center;"><b>Question</b></div>
</super-navbar-title>
  </super-navbar>
<div class="list card">

	<div class="item item-avatar">
		<img src="http://docs.appgyver.com/img/ui-and-navigation/components/mcfly.jpg">
		<h2>Marty McFly</h2>
		<p>November 05, 2015</p>
	</div>

	<div class="item item-body">
		<p>
			<b>I am travelling to Charolette. Which would be a better choice for Japanese food over there?</b>
			<br>Tags: <i class="icon super-android-plane "></i> <i class="icon super-pizza "></i>
		</p>
		<div id="ListofOptions">
		<p >
			<ul class="list">
		    <li class="item item-toggle">
		       Sushi Nine
		       <label class="toggle toggle-balanced">
		         <input type="radio" name="group">
		         <div class="track">
		           <div class="handle"></div>
		         </div>
		       </label>
		    </li>

		    <li class="item item-toggle">
		       Hibachi
		       <label class="toggle toggle-balanced">
		         <input type="radio" name="group">
		         <div class="track">
		           <div class="handle"></div>
		         </div>
		       </label>
		    </li>
		</p>
	</div>
		<div class="padding">
		<button id="singlebutton" name="singlebutton" class="btn btn-primary button button-block button-positive" onclick="document.getElementById('firstBar').style.display = 'inline'; document.getElementById('secondBar').style.display = 'inline'; document.getElementById('ListofOptions').style.display = 'none'; document.getElementById('singlebutton').style.display = 'none';">Submit</button>
	</div>

	<!--Progress bars for each value-->

	<div class="container" style="width:100%;display: none;" id="firstBar" >
		 Sushi Nine
	<div class ="voffset2">
	<div class="progress"  >
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
	  aria-valuemin="0" aria-valuemax="100" style="width:40%">
	    40%
	  </div>
	</div>
	</div>
</div>


	<div class="container" id="secondBar" style="display: none;">
		 Hibachi
		<div class="voffset2" >
	<div class="progress"  >
	  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
	  aria-valuemin="0" aria-valuemax="100" style="width:60%">
	    60%
	  </div>
	</div>
	</div>
	</div>

</div>
</div>

