  <super-navbar>
<super-navbar-title  class="demo-pricing demo-pricing-1" style="text-align:center;">
  <div style="text-align:center;"><b>Profile</b></div>
</super-navbar-title>
  </super-navbar>
<div class="list card">

  <div class="item item-avatar">
    <img src="https://upload.wikimedia.org/wikipedia/en/d/d8/Michael_J._Fox_as_Marty_McFly_in_Back_to_the_Future,_1985.jpg">
    <h2>Marty McFly</h2>
    <p>Raleigh, Nort Carolina</p>
    <p>m.mcfly.2015@gmail.com</p>
  </div>

  <div class="item item-body">

  <div class="card" style="text-align:center;">
    <a href="edit-profile.html" class="item item-icon-center">
    <i class="icon super-lock-combination"></i>
    Edit Profile
  </a>
</div>
    <p>
<ul class="list">
<p style="text-align:center;"><b>Area of Expertise</b></p>
  <li class="item item-toggle">
    <i class="icon super-pizza "></i>
     Food
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked="checked">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-tshirt "></i>
     Fashion
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-film-marker "></i>
     Movies
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked="checked">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-android-plane "></i>
     Travel
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked="checked">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-android-laptop "></i>
     Technology
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-music-note "></i>
     Music
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>    </p>

  </div>

</div>
