<div ng-controller="IndexController" >


<div class="padding">

	<super-navbar>

<super-navbar-button ng-click="supersonic.ui.drawers.open('left')">
&equiv;
</super-navbar-button>

<super-navbar-button ng-click="supersonic.ui.drawers.open('left')" class="demo-pricing demo-pricing-1" >
	News Feed2
</super-navbar-button>

	<super-navbar-button ng-click="supersonic.ui.drawers.open('left')" ng-model="navBarRefreshButton">
 My Questions
</super-navbar-button>

	</super-navbar>

	<div class="list card" >
		<a href="japRest-myquesstions.html" target="_self" class="item item-body getting-started-card" style="word-wrap: break-word;">
	      Which Japanese restuarant is better? Sushi Nine or Hibachi
	  </a>
	  <a href="#" class="item item-body getting-started-card">
	      Date night movie selection dilemna.
	  </a>
	</div>

</div>
</div>
