  <super-navbar>
<super-navbar-title  class="demo-pricing demo-pricing-1" style="text-align:center;">
  <div style="text-align:center;"><b>New Post</b></div>
</super-navbar-title>
  </super-navbar>

  <label class="item item-input item-floating-label item-icon-right">
    <span class="input-label">What's on your mind?</span>
    <input type="text" placeholder="What's on your mind?">
    <i class="icon super-ios-camera"></i>
  </label>

<div class="padding">
<super-modal-show view-id="navigation-modalOptions" class="button button-block button-positive">
    Add Options
</super-modal-show>

<super-modal-show view-id="navigation-modalWindow" class="button button-block button-positive">
    Select Tags
</super-modal-show>

<super-modal-show view-id="example-afterask" button class="button button-block button-positive">
  Ask
</super-modal-show>
</div>