<div class="padding" ng-controller="SettingsController">

  <super-navbar>
  <super-navbar-button ng-click="supersonic.ui.drawers.open('left')">
&equiv;
</super-navbar-button>

    <super-navbar-title>
      What's Hot!
    </super-navbar-title>
  </super-navbar>


	<div class="list card" >
		<a href="promDress.html" class="item item-body getting-started-card">
	    <div style="float:left; width:90%;">   Picking a dress for prom night? A or B.</div>
            <div class="voting-icons" style="float:right;">
            <i class="icon super-ios-arrow-up" onclick="clickMINUS()"></i><br />
            9<br />
            <i class="icon super-ios-arrow-down" onclick="clickMINUS()"></i>
            </div>
	  </a>
		<a href="japRest.html" target="_self" class="item item-body getting-started-card" style="word-wrap: break-word;">

	     <div style="float:left; width:90%;"> I am travelling to Charolette. Which would be a better choice for Japanese food over there?</div>
            <div class="voting-icons" style="float:right;">
            <i class="icon super-ios-arrow-up" onclick="clickMINUS()"></i><br />
            9<br />
            <i class="icon super-ios-arrow-down" onclick="clickMINUS()"></i>
            </div>

	  </a>
	   <a href="#" class="item item-body getting-started-card">
	     <div style="float:left; width:90%;"> What is the easiest programming language to learn for a beginner?   </div>
            <div class="voting-icons" style="float:right;">
            <i class="icon super-ios-arrow-up" onclick="clickMINUS()"></i><br />
            8<br />
            <i class="icon super-ios-arrow-down" onclick="clickMINUS()"></i>
            </div>
	  </a>
	   <a href="#" class="item item-body getting-started-card">
	     <div style="float:left; width:90%;"> Whom should I vote for in the upcoming elections?!   </div>
            <div class="voting-icons" style="float:right;">
            <i class="icon super-ios-arrow-up" onclick="clickMINUS()"></i><br />
            8<br />
            <i class="icon super-ios-arrow-down" onclick="clickMINUS()"></i>
            </div>
	  </a>
	  <a href="suggestions.html" class="item item-body getting-started-card">
	     <div style="float:left; width:90%;">  Suggestions for thanksgiving holiday trip</div>
            <div class="voting-icons" style="float:right;">
            <i class="icon super-ios-arrow-up" onclick="clickMINUS()"></i><br />
            8<br />
            <i class="icon super-ios-arrow-down" onclick="clickMINUS()"></i>
            </div>
	  </a>

	</div>

</div>


