  <super-navbar>
<super-navbar-title  class="demo-pricing demo-pricing-1" style="text-align:center;">
  <div style="text-align:center;"><b>Settings</b></div>
</super-navbar-title>
  </super-navbar>
<p>
<ul class="list">
  <li class="item item-toggle">
     Allow app to use your location
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
     Allow user to collect data anonymously
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
     Allow app to send you notifications
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>    </p>
