<div class="list card">

	<div class="item item-avatar">
		<img src="http://docs.appgyver.com/img/ui-and-navigation/components/mcfly.jpg">
		<h2>Marty McFly</h2>
		<p>November 05, 2015</p>
	</div>

	<div class="item item-body">
		<p class="item item-body">

			<b>Suggestions for thanksgiving holiday trip</b>
			<br>Tags: <i class="icon super-android-plane "></i>
		</p>

		<div class="detailBox">

	<div class="actionBox">
		<ul class="commentList">
			<li class="box">
				<div class="commenterImage">
				  <img src="http://lorempixel.com/50/50/people/6" />
				</div>
				<div class="commentText">
					<p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

				</div>
			</li>
			<li class="box">
				<div class="commenterImage">
				  <img src="http://lorempixel.com/50/50/people/7" />
				</div>
				<div class="commentText">
					<p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

				</div>
			</li>
			<li class="box">
				<div class="commenterImage">
				  <img src="http://lorempixel.com/50/50/people/9" />
				</div>
				<div class="commentText">
					<p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

				</div>
			</li>

			<li class="box" style="display:none" id="Commenter">
				<div class="commenterImage">
				  <img src="http://docs.appgyver.com/img/ui-and-navigation/components/mcfly.jpg" />
				</div>
				<div class="commentText">
					<p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

				</div>
			</li>
		</ul>
		<form class="form-inline" role="form">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Your comments" />
			</div>
			<div class="form-group">
				<button class="btn btn-default" onclick="document.getElementById('Commenter').style.display = 'inline';">Add Comment</button>
			</div>
		</form>
	</div>
</div>

	</div>

</div>
