/***********************************************************
 * These styles apply for native components on Android.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #387EF5;
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
}

navigation-bar title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

navigation-bar button {
  color: #ffffff;
  font-weight: 300;
  margin-left: 6px;
  margin-right: 6px;
  text-align: center;
}

navigation-bar back-indicator {
  background-image: url(default_back_icon.png);
  background-size: 18;
}

navigation-bar back-button {
  color: #ffffff;
  font-weight: 300;
}

/**************************************
 *  Tab Bar
 *************************************/

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Roboto";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #1596f7;
}

tab-bar divider {
  background-color: #D8D8D8;
}

tab-bar tab-bar-item marker-top:selected {
  background-color: #1596f7;
}

tab-bar-item#settings {
  background-image: url(icons/fire19.svg);
}

tab-bar-item#index {
  background-image: url(icons/home.svg);
}

tab-bar-item#internet {
  background-image: url(icons/search.svg);
}

.demo-pricing {
  background-color: #27ae60;
  margin-top: 10px;
  margin-right: 10px;
  padding: 14px 26px;
  font-size: 14px;
  line-height: 100%;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.demo-pricing:active {
  padding-top: 15px;
        margin-bottom: -1px;
}
.demo-pricing, .demo-pricing:hover, .demo-pricing:active {
  outline: 0 none;
  text-decoration: none;
  color: #fff;
}

.demo-pricing-1 {
  background-color: #3fb8e8;
  box-shadow: 0px 3px 0px 0px #3293ba;
}
.demo-pricing-1:hover {
  background-color: #1baae3;
}
.demo-pricing-1:active {
  box-shadow: 0px 1px 0px 0px #3293ba;
}
.fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 10px; 
    height:11%;
    width:10%
}