<super-navbar>
  <super-navbar-title>
    Options
  </super-navbar-title>
</super-navbar>

<div class="list card">

	<div class="item item-body">

		<div class="detailBox">

	<div class="actionBox">
		<ul class="commentList">
			<li class="box">
				<div class="commentText">
					<p class="">A. Thanksgiving</p>
				</div>
			</li>
			<li class="box">
				<div class="commentText">
					<p class="">B. Christmas</p>
				</div>
			</li>
			<li class="box" style="display:none" id="Commenter">
				<div class="commentText">
					<p class="">C. Halloween</p> 
				</div>
			</li>
		</ul>
		<form class="form-inline" role="form">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Add option" />
			</div>
			<div class="form-group">
				<button class="btn btn-default" onclick="document.getElementById('Commenter').style.display = 'inline';">New Option</button>
			</div>
		</form>
	</div>
</div>

	</div>

</div>
