<super-navbar>
  <super-navbar-title>
    Tags
  </super-navbar-title>
</super-navbar>

<div class="padding">

<ul class="list">
  <li class="item item-toggle">
    <i class="icon super-pizza "></i>
     Food
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-tshirt "></i>
     Fashion
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-film-marker "></i>
     Movies
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-android-plane "></i>
     Travel
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-android-laptop "></i>
     Technology
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
    <i class="icon super-music-note "></i>
     Music
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul> 
</div>